# registry=https://npm.pkg.github.com/:_authToken=2932d60abae7078b12d3d890df92a1ba00f750f7
@zbinsaifullah:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=e81e59ebb1af4cbe0d57a637baa45ccece75cee9